.logo img {
  /* margin: auto !important; */
  width: 95px;
  height: 60px;
  float: left;
}
.header-menu {
  line-height: 60px;
  float: left;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}